[Unit]
Description=Run watchlog script every 5 second
Requires=watchlog.service
[Timer]
# Run every 5 second
OnUnitActiveSec=5
AccuracySec=1us
Unit=watchlog.service
[Install]
WantedBy=multi-user.target