[Unit]
Description=Borg backup timer

[Timer]
#run hourly
OnBootSec=2min
OnUnitActiveSec=5min
Unit=borg-back.service

[Install]
WantedBy=multi-user.target